<article dd-item-source='gridname' item-config="{x:0,y:0,w:1,h:1}">
	<!-- <ghost dd-width={{1}} dd-height={{1}}></ghost>	 -->
	Drag it to the grid
</article>
<dd-grid grid-id="gridname" on-add-item="ViewTabCtrl.addItem" >
	<dd-item dd-config="item" class="{{item.class}}" ng-repeat="item in ViewTabCtrl.items track by $index">
		<input min=0 type="number" ng-model="ddItem.$row">
		<input min=0 type="number" ng-model="ddItem.$col">
		<input min=1 type="number" ng-model="ddItem.$width">
		<input min=1 type="number" ng-model="ddItem.$height">
	</dd-item>
</dd-grid> 