<!DOCTYPE html>
<html>
	<head>

	<!-- meta -->
	<title>index.html</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Lang" content="fr">
		<meta name="description" content=""/>
		<!-- if partials used -->
		<!-- <meta name="fragment" content="!"> -->
	<!-- meta -->

	<!-- design -->
		<!-- styles -->
		<link rel="stylesheet" href="../styles/dev.css">
		<link rel="stylesheet" href="../styles/dashydash.css">
		<link rel="stylesheet" href="../styles/dragdash.css">
		<!-- styles -->
		<!-- fonts -->
		<!-- fonts -->
	<!-- design -->

	</head>
	<body ng-app="app">

		<!-- content -->
		<dd-grid ng-init="colors = ['dark-primary-color','default-primary-color','light-primary-color','accent-color']">
			<dd-item ng-repeat="i in colors track by $index" class={{i}} init-row={{$index}} init-col={{$index}} init-width=1 init-height=1>
				<input type="number" ng-model="row">
				<input type="number" ng-model="col">
				<input type="number" ng-model="width">
				<input type="number" ng-model="height">
			</dd-item>
		</dd-grid> 

		<!-- <section dd-draggable class="test-block" style="top: 120px;left: 120px;"> -->
		<!-- <section dd-resizable class="test-block" style="top: 120px;left: 120px;">
			<dd-resize-handler dd-resize-handler-target="_ddResizable.node" dd-resize-handler-type="n" class="resize-handler" style="position: absolute; right: 0px; bottom: 0px;">X</dd-resize-handler>
		</section> -->
		<!-- <section ng-controller="app.controllers.app as AppCtrl"> -->
			<!-- <dd-draggable class="text-block" dd-on-drag="AppCtrl.ondrag">Hello everyone</dd-draggable> -->
		<!-- </section> -->



		<!-- content -->

		<!-- scripts -->
			<!-- libraries -->
			<script src="../bower_components/angular/angular.min.js"></script>
			<script src="../bower_components/angular-property-binder/dist/angular-property-binder.min.js"></script>
			<!-- libraries -->
			<!-- src -->
			<script src="../lib/dashydash-templates/core.js"></script>

			<script src="../lib/dashydash-utils/core.js"></script>
			<script src="../lib/dashydash-utils/constants/draggable.js"></script>
			<script src="../lib/dashydash-utils/services/utils.js"></script>
			<script src="../lib/dashydash-utils/providers/domElement.js"></script>
			<script src="../lib/dashydash-utils/providers/draggable.js"></script>
			<script src="../lib/dashydash-utils/providers/resizeHandler.js"></script>
			<script src="../lib/dashydash-utils/controllers/draggable.js"></script>
			<script src="../lib/dashydash-utils/controllers/resizeHandler.js"></script>
			<script src="../lib/dashydash-utils/directives/ddDraggable.js"></script>
			<script src="../lib/dashydash-utils/directives/ddResizeHandler.js"></script>
			<script src="../lib/dashydash-utils/directives/ddResizable.js"></script>

			<script src="../lib/dashydash/core.js"></script>
			<script src="../lib/dashydash/constants/positionableElement.js"></script>
			<script src="../lib/dashydash/services/nodeBuilder.js"></script>
			<script src="../lib/dashydash/providers/item.js"></script>
			<script src="../lib/dashydash/providers/grid.js"></script>
			<script src="../lib/dashydash/providers/placeholder.js"></script>
			<script src="../lib/dashydash/providers/gridItem.js"></script>
			<script src="../lib/dashydash/controllers/grid.js"></script>
			<script src="../lib/dashydash/controllers/gridItem.js"></script>
			<script src="../lib/dashydash/controllers/placeholder.js"></script>
			<script src="../lib/dashydash/directives/ddGrid.js"></script>
			<script src="../lib/dashydash/directives/ddItem.js"></script>
			<script src="../lib/dashydash/directives/ddPlaceholder.js"></script>
			<!-- src -->
			<!-- dist -->
			<!-- <script src="../dist/dashydash.min.js"></script> -->
			<!-- dist -->
			<!-- features -->
			<script src="modules/app/core.js"></script>
			<script src="modules/app/controllers/app.js"></script>
			<!-- features -->
		<!-- scripts -->
	
	</body>
</html>
		