html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.test-block {
	border: 1px solid black;
	width: 90px;
	height: 90px;
	display: block;
}

.dd-container {
	position: relative;
	width: 100%;
}

dd-item input {
    width: 40px;
}

dd-placeholder.item-dragged, 
dd-item:not(.item-dragged) {
	-webkit-transition: all .18s linear;
	   -moz-transition: all .18s linear;
	    -ms-transition: all .18s linear;
	     -o-transition: all .18s linear;
	        transition: all .18s linear;
}

dd-item.item-dragged {
	z-index: 10;
}

dd-item,
dd-placeholder {
	position: absolute;
}

dd-placeholder {
	background-color: black;
	pointer-event: none;
	color: white;
	font-size: 8px;
	z-index: 0;
}


dd-placeholder:not(.item-dragged) {
	display: none;
}

dd-item {
	text-align: center;
	border: 1px solid grey;
	background: white;
	z-index: 1;
}

dd-item[dd-col="0"],
dd-placeholder[dd-col="0"] {
	left: 0px;
}

dd-item[dd-row="0"],
dd-placeholder[dd-row="0"] {
	top: 0px;
}

dd-item[dd-col="1"],
dd-placeholder[dd-col="1"] {
	left: 100px;
}

dd-item[dd-row="1"],
dd-placeholder[dd-row="1"] {
	top: 50px;
}

dd-item[dd-col="2"],
dd-placeholder[dd-col="2"] {
	left: 200px;
}

dd-item[dd-row="2"],
dd-placeholder[dd-row="2"] {
	top: 100px;
}

dd-item[dd-col="3"],
dd-placeholder[dd-col="3"] {
	left: 300px;
}

dd-item[dd-row="3"],
dd-placeholder[dd-row="3"] {
	top: 150px;
}

dd-item[dd-col="4"],
dd-placeholder[dd-col="4"] {
	left: 400px;
}

dd-item[dd-row="4"],
dd-placeholder[dd-row="4"] {
	top: 200px;
}

dd-item[dd-col="5"],
dd-placeholder[dd-col="5"] {
	left: 500px;
}

dd-item[dd-row="5"],
dd-placeholder[dd-row="5"] {
	top: 250px;
}

dd-item[dd-col="6"],
dd-placeholder[dd-col="6"] {
	left: 600px;
}

dd-item[dd-row="6"],
dd-placeholder[dd-row="6"] {
	top: 300px;
}

dd-item[dd-col="7"],
dd-placeholder[dd-col="7"] {
	left: 700px;
}

dd-item[dd-row="7"],
dd-placeholder[dd-row="7"] {
	top: 350px;
}

dd-item[dd-col="8"],
dd-placeholder[dd-col="8"] {
	left: 800px;
}

dd-item[dd-row="8"],
dd-placeholder[dd-row="8"] {
	top: 400px;
}

dd-item[dd-col="9"],
dd-placeholder[dd-col="9"] {
	left: 900px;
}

dd-item[dd-row="9"],
dd-placeholder[dd-row="9"] {
	top: 450px;
}

dd-item[dd-width="1"],
dd-placeholder[dd-width="1"] {
	width: 100px;
}

dd-item[dd-height="1"],
dd-placeholder[dd-height="1"] {
	height: 50px;
}

dd-item[dd-width="2"],
dd-placeholder[dd-width="2"] {
	width: 200px;
}

dd-item[dd-height="2"],
dd-placeholder[dd-height="2"] {
	height: 100px;
}

dd-item[dd-width="3"],
dd-placeholder[dd-width="3"] {
	width: 300px;
}

dd-item[dd-height="3"],
dd-placeholder[dd-height="3"] {
	height: 150px;
}

