[dd-draggable], dd-draggable {
	position: relative;
	top: 0px;
	left: 0px;
}

ghost, [ghost] {
	color: red;
	position: absolute;
	z-index: 102;
	width: 200px;
	height: 100px;
	border: 1px solid black;
}

[dd-draggable] > [ghost], 
[dd-draggable] > ghost, 
dd-draggable > ghost, 
dd-draggable > [ghost] {
	top: 0px;
	left: 0px;
	display: none;
}

[dd-resizable], dd-resizable {
	position: relative;
}

[dd-resizable], dd-resizable {
	position: relative;
}

[dd-resizable] > .dd-resizable-handler-container > .dd-resizable-handler-n, 
dd-resizable > .dd-resizable-handler-container > .dd-resizable-handler-n {
	position: absolute;
	top: 0px;
	left: 50%;
}

[dd-resizable] > .dd-resizable-handler-container > .dd-resizable-handler-s, 
dd-resizable > .dd-resizable-handler-container > .dd-resizable-handler-s {
	position: absolute;
	top: 100%;
	left: 50%;
}

[dd-resizable] > .dd-resizable-handler-container > .dd-resizable-handler-w, 
dd-resizable > .dd-resizable-handler-container > .dd-resizable-handler-w {
	position: absolute;
	top: 50%;
	left: 0px;
}

[dd-resizable] > .dd-resizable-handler-container > .dd-resizable-handler-e, 
dd-resizable > .dd-resizable-handler-container > .dd-resizable-handler-e {
	position: absolute;
	top: 50%;
	left: 100%;
}

.resize-handler {
	/*position: absolute;*/
}